<f:layout name="General" />

<f:section name="content">

    <f:form name="search" object="{search}" >
        <div class="condition">
            <label for="condition"><f:translate key="label.condition" /></label>
            <f:form.textfield property="condition" id="condition" />
        </div>
        <div class="intervention">
            <label for="intervention"><f:translate key="label.intervention" /></label>
            <f:form.textfield property="intervention" id="intervention" />
        </div>
        <div class="location">
            <label for="location"><f:translate key="label.location" /></label>
            <f:form.textfield property="location" id="location" />
        </div>
        <div class="keyword">
            <label for="keyword"><f:translate key="label.keyword" /></label>
            <f:form.textfield property="keyword" id="keyword" />
        </div>
        <div class="status">
            <label for="status"><f:translate key="label.status" /></label>
            <f:form.checkbox property="status" id="status" value="1" />
        </div>

        <f:form.submit value="<f:translate key='label.search' />" />
    </f:form>

    <div class="list">
        <f:if condition="{prevPage} > 0">
            <f:link.action arguments="{currentPage:prevPage}">
                <f:translate key="label.previous" />
            </f:link.action>
        </f:if>
        <f:if condition="{nextPage}">
            <f:link.action arguments="{currentPage:nextPage}">
                <f:translate key="label.next" />
            </f:link.action>
        </f:if>

        <f:for each="{studies.studies}" as="study">
            <div>
                <strong>{study.protocolSection.identificationModule.briefTitle}</strong>
                <f:format.html>{study.protocolSection.descriptionModule.briefSummary}</f:format.html>
            </div>
        </f:for>
    </div>
</f:section>
